{% extends 'admin/index.html.twig' %}

{% block title %}User index{% endblock %}

{% block content %}
    <h1>User index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Login type</th>
            <th>isVerified</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles|join(', ') }}</td>
                <td>
                    {% if user.password %}
                        <i class="fas fa-envelope"></i>
                    {% elseif(user.googleId) %}
                        <i class="fab fa-google"></i>
                    {% elseif(user.facebookId) %}
                        <i class="fab fa-facebook"></i>
                    {% endif %}
                </td>
                <td><a href="{{ path('user.verifyToggle', {'id': user.id}) }}"
                       class="btn {{ user.isVerified? 'btn-success' : 'btn-danger' }}">
                    {{ user.isVerified? 'aktivny' : 'pasivny' }}
                    </a></td>
{#                TODO: postpone it for later use#}
{#                <td>#}
{#                    <a href="{{ path('product.show', {'id': product.id}) }}">show</a>#}
{#                    <a href="{{ path('product.edit', {'id': product.id}) }}">edit</a>#}
{#                </td>#}
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
